{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "offers/css/global.css" %}">
    <link rel="stylesheet" href="{% static "offers/css/normalize.css" %}">
    <title>{{title|default:'Rar-Net'}}</title>

    {% block page_specific_styles %}{% endblock page_specific_styles %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>