{% extends "offers/base.html" %}
{% load static %}

{% block body %}

{% block header %}
<header>
    <nav class="flex">
        <ul class="nav-links">
            <li><a href="{% url "offers:index" %}">Главная</a></li>
            <li><a href="">Профиль</a></li>
        </ul>
    </nav>
    <h1>rar-net</h1>
</header>
{% endblock header %}

<main>
    {% block content %}{% endblock content %}
</main>

{% block footer %}
<footer>
    <ul class="nav-links">
        <li><a href="https://loooltooot.github.io" target="_blank">Emir Zakrewski</a></li>
        <li><a href="https://t.me/loooltooot" target="_blank">Телеграм</a></li>
    </ul>
</footer>
{% endblock footer %}

<script src="{% static "offers/js/jquery.min.js" %}"></script>
{% block page_specific_scripts %}{% endblock page_specific_scripts %}

{% endblock body %}