#create-offer {
    padding: 50px 100px;
    max-width: 500px;
    margin-inline: auto;

    #inputs {
        flex-direction: column;
        row-gap: 10px;
    }

    input[type='submit'] {
        margin-top: 20px;
    }

    label,
    legend {
        font-weight: 700;
    }

    fieldset label {
        font-weight: 400;
    }
}