@use 'header';
@use 'footer';

:root {
    --s-font-size: .9em;
    --base-font-size: 12px;
    --x-font-size: 6em;

    --side-padding: min(5vw, 30px);

    --bg-color: #ffffff;
    --primary-color: #7d19cf;
    --grey-color: #e4e4e4;
    --grey-shade-color: #c0c0c0;
    --grey-dark-color: #979797;
    --font-color: #000000;
    --font-light-color: #4d4d4d;
    --error-color: #d13434;
}

body {
    font-size: var(--base-font-size);
    font-family: Verdana, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-inline: var(--side-padding);
    flex-grow: 1;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--font-color);
    }
}

.nav-links {
    column-gap: 20px;
    align-items: center;

    li {
        position: relative;
    }

    li+li::before {
        content: '*';
        position: absolute;
        left: -13px;
        top: 3px;
    }
}

.nav-links a {
    font-weight: 700;
    color: var(--font-light-color);

    &:hover {
        color: var(--font-color);
    }
}

.flex {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

form {
    input:not([type='radio'], [type='submit']) {
        min-width: 250px;
    }

    .helptext,
    .errorlist {
        margin-bottom: 5px;
    }

    .helptext,
    .helptext ul li {
        font-size: var(--s-font-size);
        color: var(--font-light-color);
    }

    .errorlist li {
        color: var(--error-color);
    }
}

// classes

.fancy-borders {
    border-radius: 5px;
    border: 1px solid var(--grey-shade-color);
    background: linear-gradient(180deg, var(--bg-color) 0%, var(--grey-color) 39.58%);
    padding: 5px 10px;
}

.error-message {
    color: var(--font-light-color);
}

.search-bar {
    justify-content: space-between;
    align-items: center;

    .actions {
        column-gap: 15px;
    }

    #profile-container {
        column-gap: 5px;
        align-items: center;

        #logout {
            filter: invert(.5);
            width: 16px;
            height: 16px;

            &:hover {
                filter: invert(0);
            }
        }

        .username {
            font-weight: 700;
        }
    }

    .forms-container {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }

    #login-form {
        display: none;
    }

    &.center {
        justify-content: center;
    }

}