{% load static %}
<section class="fancy-borders search-bar flex">
    {% if user.is_authenticated %}
    <div id="profile-container" class="flex">
        <a href="/user/logout/">
            <img id="logout" src="{% static "offers/img/logout.png" %}" alt="выйти" title="выйти">
        </a>
        <span class="username">{{user.username}}</span>
    </div>
    {% endif %}
    <div>
        <form action="">
            {% csrf_token %}
            <input type="text" name="q" required>
            {% if user.is_authenticated %}
            <select name="sort_type">
                <option value="same_city">В моем городе</option>
                <option value="same_country">В моей стране</option>
                <option value="everywhere" selected>Везде</option>
            </select>
            {% endif %}
            <input type="submit" value="поиск">
        </form>
    </div>
    {% if user.is_authenticated %}
    <div>
        <ul class="actions">
            <li><a href="">Мои заявки</a></li>
            <li><a href="">Добавить заявку</a></li>
        </ul>
    </div>
    {% endif %}
</section>