#register-section {
    background-color: var(--grey-color);
    padding: 50px 100px;
    max-width: 500px;
    margin-inline: auto;

    #inputs {
        flex-direction: column;
        row-gap: 10px;
    }

    input[type='submit'] {
        margin-top: 20px;
    }

    label,
    legend {
        font-weight: 700;
    }

    fieldset label {
        font-weight: 400;
    }

    #id_country {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 200px;
        column-gap: 5px;
        row-gap: 5px;
        margin-top: 5px;

        input {
            position: absolute;
            left: -9999px;
            top: 0;
        }

        input[name='country']:checked+label .flag {
            background-color: var(--grey-dark-color);
        }

        .flag {
            width: 25px;
            height: 25px;
            background-color: var(--grey-shade-color);
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: var(--grey-dark-color);
            }
        }
    }

}